BUILT_IN_FORGE_API_KEY=
BUILT_IN_FORGE_API_URL=
DATABASE_SSL_CA=
DATABASE_URL=
JWT_SECRET=
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_SEGMENT_ID=
SESSION_SECRET=
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=
VITE_APP_ID=